
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
 
}



.active{
  border-bottom: 2px solid silver;
  color: rgb(180, 180, 180);
}




.button {
  text-shadow: 0 1px 1px #444;
}

.button:before {
  content: "";
  display: block;
  background-color: #01687f;
  position: absolute;
  top: -5px;
  left: -5px;
  bottom: -5px;
  right: -5px;
  z-index: -1;
  border-radius: 10px;
  background-image: linear-gradient(to bottom, #01687f 0%, #065881 40%);
  box-shadow: 0px -1px 2px 0 #065881 inset,
              0px 1px 1px 1px #ccc,
              0 0 0 6px #fff,
              0 2px 12px 8px #ddd;
}


.button:before {
  box-shadow: 0px -1px 2px 0 #065881 inset,
              0px 1px 1px 1px #ccc;
}



@media (max-width:872px){
  .main-flex{
    flex-direction: column;
  }

  .hero-section{
    height: auto !important;
  }

  .logo{
    padding-top: 20px;
  }

  .hero-content{
    margin-top: 0px !important;
    padding-bottom: 50px;
  }

  .desktopImages{
    display: none;
  }
  
  .mobileImages{
    display: block;
  }
}